@media screen and (min-width: 640px) {
    header {
        padding: 10px;
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        align-items: center;
        text-align: center;
    }

    header h1 {
        text-align: center;
    }

    header img {
        display: flex;
    }
    
    .hero {
        max-width: 1300px;
    }

    .hero-text {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .explore-text {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .explore-text img {
        width: 100%;
        max-width: 800px;
        height: auto;
        margin: 0 auto;
    }

    .collection-heading {
        font-size: x-large;
    }

    .modal-content {
        flex-direction: row;
        padding: 10px;
    }

    .modal-image {
        flex: 1;
        max-width: 50%;
    }

    .modal-details {
        flex: 1;
        padding: 0 20px;
    }

    .guide-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1600px;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }
}

@media screen and (max-width: 1400px) {
    header h1 {
        font-size: medium;
    }

    header a {
        font-size: small;
    }

    header img {
        max-width: 200px;
    }
}

@media screen and (min-width: 1000px) {
    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        position: static;
        background-color: transparent;
        padding: 0;
        border: none;
        max-width: 70%;
        margin-right: 1rem;
        justify-content: right;
        margin-left: auto;
    }

    .navigation a {
        border: none;
    }

    .navigation a:first-child {
        border: none;
    }

    .guide-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

